
<div class="container">
  <h3>画像撮影一覧</h3>
  <div class="form">
    <% @headlines.each_with_index do |headline, index| %>
      <div id="hdln-<%= index %>">
        <table border="1">
          <tr class="table">
            <th class="t1">番号</th>
            <th class="t2">名前</th>
            <th class="t1">総数</th>
            <th class="t2">撮影</th>
            <th class="t3">画像</th>
          </tr>
          <tr class="table">
            <td class="t1"><%= headline.id %></td>
            <td class="t2"><%= headline.name %></td>
            <td class="t1">
              <% if headline.pictures_count %>
                <%= headline.pictures_count %>
              <% else %>
                <span>0</span></td>
              <% end %>
            
          <!--今turbolink停止中-->
          <td class="t2"><%= link_to '撮影', headline_pictures_path(index+1),data: {"turbolinks" => false} %></td>
          <td><% headline.pictures.each do |hp| %>
            
            <%= image_tag hp.image_url.to_s, class:"image-url" %>
          <% end %></td>
        </table>
      </div>
      <br>
      <script>
      $(function(){
    	$('.hdln-<%= index %>').click(function(){
        // alert(<%=index%>)
        // 確認用undefined
        // var x = document.getElementById('video');
        // p = $("#picture_headline_id")
        // alert(x)
        });
      })
    </script>
    <% end %>
  </div>
</div>